In [0]:
import pandas as pd
import matplotlib.pyplot  as plt

In [0]:
import numpy as np

In [0]:
dataset = pd.read_csv('/Data.csv')

In [0]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [0]:
X = dataset.iloc[:,:-1].values      #The values() function is used to get a Numpy representation of the DataFrame
y = dataset.iloc[:,-1].values

In [0]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [0]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [0]:
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

# **Process the Missing data**

In [0]:
#a better method to process the missing data
from sklearn.impute import SimpleImputer
Imp = SimpleImputer(missing_values = np.nan, strategy  = 'mean')
Imp.fit(X[:,1:3])
X[:,1:3] = Imp.transform(X[:,1:3])

In [0]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

# **Using OneHotEncoder and LabelEncoder**

In [0]:
#using onehotencoder
#coverting  req features into machine language
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [0]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [0]:
X1 = ct.fit_transform(X)

In [0]:
type(X1)       #checking why np.array is needed

numpy.ndarray

In [0]:
type(X)

numpy.ndarray

In [0]:
#converting target into binary
from sklearn.preprocessing import LabelEncoder

In [0]:
lb = LabelEncoder()
y = lb.fit_transform(y)

In [0]:
type(y)

numpy.ndarray

In [0]:
print(y)

[0 1 0 0 1 1 0 1 0 1]

# **Splitting into training and testing set**

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test  = train_test_split(X,y,test_size = 0.2)

In [0]:
X_train.shape

(8, 5)

In [0]:
y_train.shape

(8,)

# **Feature Scaling**

In [0]:
#https://www.udemy.com/course/machinelearning/learn/lecture/19310398#overview     time: 4:14  #Standadisation technique is preferred

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
sc = StandardScaler()
X_train[:,3:] = sc.fit_transform(X_train[:,3:])  
X_test[:,3:] = sc.transform(X_test[:,3:])       #only transform on test data as it is a new data, which is not need to be fitted

In [0]:
X_train

array([[0.0, 1.0, 0.0, 0.017975032046140305, -0.25247492825262224],
       [0.0, 0.0, 1.0, -0.2696254806921059, -0.5127583594408931],
       [0.0, 1.0, 0.0, 1.4559775957373715, 1.54868641557021],
       [0.0, 0.0, 1.0, -1.85142830075246, -1.7308848174019993],
       [1.0, 0.0, 0.0, -0.7010262497994753, -0.7938644651242253],
       [1.0, 0.0, 0.0, 0.5931760575226328, 0.5179640280646585],
       [1.0, 0.0, 0.0, -0.413425737061229, 0.049453851925771355],
       [1.0, 0.0, 0.0, 1.1683770829991253, 1.1738782746591003]],
      dtype=object)