<a href="https://colab.research.google.com/github/shahmonil/Machine-Learning/blob/master/ANN_with_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [0]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1]
y = dataset.iloc[:,-1]

In [31]:
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [0]:
X['Gender'] = X.Gender.map({'Male':1, 'Female':0})

In [0]:
dummy1 = pd.get_dummies(X['Geography'])

In [0]:
X = pd.concat([X,dummy1], axis=1)

In [0]:
X.drop(columns='Geography', inplace=True)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc  = StandardScaler()

In [39]:
X_test

      CreditScore  Gender  Age  Tenure  ...  EstimatedSalary  France  Germany  Spain
9394          597       0   35       8  ...        192852.67       0        1      0
898           523       0   40       2  ...        128702.10       1        0      0
2398          706       0   42       8  ...         75732.25       0        0      1
5906          788       1   32       4  ...         89368.59       1        0      0
2343          706       1   38       5  ...        135662.17       0        1      0
...           ...     ...  ...     ...  ...              ...     ...      ...    ...
1037          625       0   24       1  ...        180969.55       1        0      0
2899          586       0   35       7  ...         70760.69       1        0      0
9549          578       1   36       1  ...        141533.19       0        0      1
2740          650       1   34       4  ...         11276.48       0        1      0
6690          573       1   30       8  ...        192950.60       0        1      0

[2000 rows x 12 columns]

In [0]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
#Starting with ANN

In [0]:
ann  = tf.keras.Sequential()

In [0]:
#adding first hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))  #rectifier ativation function

In [0]:
#adding second hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [0]:
#adding output layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))     #unit 1 because binary output

In [0]:
#compiling ann
ann.compile(optimizer= 'adam',loss= 'binary_crossentropy',metrics=['accuracy'])
#categorical_crossentropy for multiclass

In [46]:
ann.fit(X_train, y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6084 - accuracy: 0.7089
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4597 - accuracy: 0.8095
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4335 - accuracy: 0.8161
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4251 - accuracy: 0.8180
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4191 - accuracy: 0.8220
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4133 - accuracy: 0.8234
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4071 - accuracy: 0.8263
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3984 - accuracy: 0.8324
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3876 - accuracy: 0.8386
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3770 - accuracy: 0.8443
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3681 - accuracy: 0.8485
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3612 - accuracy: 0.8511
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3570 - accuracy: 0.8539
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3535 - accuracy: 0.8549
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3508 - accuracy: 0.8564
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3495 - accuracy: 0.8562
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3476 - accuracy: 0.8587
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3469 - accuracy: 0.8587
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3457 - accuracy: 0.8587
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8576
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3443 - accuracy: 0.8576
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3443 - accuracy: 0.8596
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8596
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8593
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8601
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8611
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3422 - accuracy: 0.8601
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8602
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8601
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3414 - accuracy: 0.8587
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8616
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3413 - accuracy: 0.8586
Epoch 33/100
250/250 [==============================] - 0s 992us/step - loss: 0.3407 - accuracy: 0.8601
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3413 - accuracy: 0.8590
Epoch 35/100
250/250 [==============================] - 0s 994us/step - loss: 0.3406 - accuracy: 0.8622
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8595
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8596
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8606
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8599
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8618
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8608
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8609
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8604
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8616
Epoch 45/100
250/250 [==============================] - 0s 999us/step - loss: 0.3399 - accuracy: 0.8591
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8634
Epoch 47/100
250/250 [==============================] - 0s 970us/step - loss: 0.3392 - accuracy: 0.8615
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8586
Epoch 49/100
250/250 [==============================] - 0s 973us/step - loss: 0.3391 - accuracy: 0.8611
Epoch 50/100
250/250 [==============================] - 0s 983us/step - loss: 0.3393 - accuracy: 0.8610
Epoch 51/100
250/250 [==============================] - 0s 972us/step - loss: 0.3392 - accuracy: 0.8612
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8627
Epoch 53/100
250/250 [==============================] - 0s 993us/step - loss: 0.3387 - accuracy: 0.8612
Epoch 54/100
250/250 [==============================] - 0s 980us/step - loss: 0.3387 - accuracy: 0.8626
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8626
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8608
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8622
Epoch 58/100
250/250 [==============================] - 0s 998us/step - loss: 0.3385 - accuracy: 0.8611
Epoch 59/100
250/250 [==============================] - 0s 999us/step - loss: 0.3385 - accuracy: 0.8621
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8621
Epoch 61/100
250/250 [==============================] - 0s 993us/step - loss: 0.3380 - accuracy: 0.8621
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8636
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8621
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8629
Epoch 65/100
250/250 [==============================] - 0s 969us/step - loss: 0.3380 - accuracy: 0.8619
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8625
Epoch 67/100
250/250 [==============================] - 0s 965us/step - loss: 0.3379 - accuracy: 0.8621
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8634
Epoch 69/100
250/250 [==============================] - 0s 981us/step - loss: 0.3375 - accuracy: 0.8620
Epoch 70/100
250/250 [==============================] - 0s 977us/step - loss: 0.3373 - accuracy: 0.8624
Epoch 71/100
250/250 [==============================] - 0s 962us/step - loss: 0.3374 - accuracy: 0.8622
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8619
Epoch 73/100
250/250 [==============================] - 0s 995us/step - loss: 0.3368 - accuracy: 0.8633
Epoch 74/100
250/250 [==============================] - 0s 953us/step - loss: 0.3371 - accuracy: 0.8612
Epoch 75/100
250/250 [==============================] - 0s 988us/step - loss: 0.3364 - accuracy: 0.8634
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8633
Epoch 77/100
250/250 [==============================] - 0s 981us/step - loss: 0.3364 - accuracy: 0.8620
Epoch 78/100
250/250 [==============================] - 0s 978us/step - loss: 0.3365 - accuracy: 0.8631
Epoch 79/100
250/250 [==============================] - 0s 968us/step - loss: 0.3363 - accuracy: 0.8621
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8619
Epoch 81/100
250/250 [==============================] - 0s 979us/step - loss: 0.3361 - accuracy: 0.8627
Epoch 82/100
250/250 [==============================] - 0s 973us/step - loss: 0.3364 - accuracy: 0.8629
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8627
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8609
Epoch 85/100
250/250 [==============================] - 0s 989us/step - loss: 0.3359 - accuracy: 0.8619
Epoch 86/100
250/250 [==============================] - 0s 990us/step - loss: 0.3358 - accuracy: 0.8614
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8622
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8630
Epoch 89/100
250/250 [==============================] - 0s 979us/step - loss: 0.3357 - accuracy: 0.8620
Epoch 90/100
250/250 [==============================] - 0s 971us/step - loss: 0.3356 - accuracy: 0.8635
Epoch 91/100
250/250 [==============================] - 0s 983us/step - loss: 0.3352 - accuracy: 0.8626
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8619
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8618
Epoch 94/100
250/250 [==============================] - 0s 966us/step - loss: 0.3355 - accuracy: 0.8620
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8624
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8621
Epoch 97/100
250/250 [==============================] - 0s 998us/step - loss: 0.3353 - accuracy: 0.8644
Epoch 98/100
250/250 [==============================] - 0s 983us/step - loss: 0.3350 - accuracy: 0.8622
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8610
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8622

In [47]:
ann.predict(sc.transform([[600,1,40, 3,60000,2,1,1,50000,1,0,0]]))

array([[0.02737096]], dtype=float32)

In [0]:
y_pred = ann.predict(X_test)
y_pred2 = np.where(y_pred > 0.5,1,0)

In [50]:
y_test

9394    0
898     1
2398    0
5906    0
2343    0
       ..
1037    0
2899    0
9549    0
2740    0
6690    0
Name: Exited, Length: 2000, dtype: int64

In [51]:
y_pred

array([[0.2131407 ],
       [0.33848163],
       [0.11415175],
       ...,
       [0.17511633],
       [0.1308536 ],
       [0.26663196]], dtype=float32)

In [57]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred2)
print(cm)
accuracy_score(y_test, y_pred2)

[[1507   88]
 [ 197  208]]

0.8575